body {
  width: 80%;
  margin: auto;
  background-image: url("img/phDolceBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.landing-card {
  width: 35%;
  border-radius: 1px;
  background: radial-gradient(#ffffffdd, #ffffff54);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgb(177, 177, 254),
      rgb(255, 254, 255)
    )
    1;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-card {
  width: 80%;
  margin: auto;
  padding: 1.2rem 1rem;
}

.inner-card > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-card > div > img {
  height: 170px;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  padding-inline-start: 0px;
  width: 100%;
}
div > h1 {
  text-align: center;
}

.social-links {
  mix-blend-mode: difference;
  position: absolute;
  bottom: 5vh;
  filter: invert(100%);
}
