body {
  background-image: url("img/waiting.jpg");
  background-color: black;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.landing-card {
  width: 35%;
  border-radius: 1px;
  border: 1px solid rgb(109, 108, 108);
  padding-top: 7px;
  background: rgba(235, 235, 235, 0.829);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-card {
  width: 80%;
  margin: auto;
}

.inner-card > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-card > div > img {
  height: 170px;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  padding-inline-start: 0px;
  width: 100%;
}
div > h1 {
  text-align: center;
}

.social-links {
  position: absolute;
  bottom: 5vh;
}
